# Binary
linklog

# Database
*.db
*.db-wal
*.db-shm

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace
go.work
go.work.sum

# Environment
.env

# Editor/IDE
.idea/
.vscode/
